@charset "UTF-8";

body {
    background-color: #161a1d;
}

header {
    display: flex;
    background-color: #3c096c;
    border-bottom: 10px solid #000;
    justify-content: space-between;
    align-items: flex-end;
}

.Logo_header {
    height: 80px;
    width: 70px;
    margin-left: 25px;
}

nav {
    text-align: right; /*Coloca os elementos da barra de navegação para a direita*/
    height: 50px;
    margin-bottom: 5px;
}

a {
    display: inline-flex;
    color: #e0aaff;
    font-size: 17px;
    font-family: "Fira Code", sans-serif; /* Uma segunda familia de font pode ser carregada caso o navegador não tenha a primeira*/
    font-weight: 500; /* Peso da font */
    text-decoration: none; /* Tira o traço debaixo de uma font, site para decoration: mdn text decoration*/
    margin-right: 30px; /*Coloca um espaçamento de 30px entre os links do header*/
    align-items: center;
    transition: transform 100ms linear;
}

a:hover {
    color: #FFFFFF;
    transform: scale(1.09);
}

a::before { /*Pseudo-Elemento, elemento vazio criado no Css*, praticamente o quadradinho antes das palavras*/
    content: ""; /* Obrigatorio no Pseudo-elemento, pois o mesmo necessita de um conteudo*/
    background-color: #161a1d;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

#button_download {
    display: inline-block;
    background-color:#161a1d;
    color: #FFFFFF;
    font-family: "Fira Code", sans-serif;
    margin-right: 30px;
    height: 50px;
    width: 100px;
    position: relative;
    bottom: 7px;
    box-shadow: 5px 5px 0px #000;
    transition: transform 200ms linear; /*cria uma transição de animação quando o mouse passa por cima atravez da transform*/
}

#button_download:hover {
    transform: scale(1.09); /* Muda o tamanho do botão quando o mouse passa por cima */
    
}

h1{
    font-family: "Fira Code", sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 6px 6px 5px #000;
}
