.box {
    display: inline-block;
    background-color: #ff8500;
    box-shadow: 7px 7px 0 #000;
    text-align: center;
   padding: 42px 44px;
}

.box .title { /* Box herda h1, herda seus filhos*/
    margin-bottom: 28px;
}