.title {
    font-family: "Silkscreen", sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 6px 6px 5px #000;
}

.title.-second{
    color: #FFF;
    text-shadow: none;
    text-align: center;
}