.wrapper-skill {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-skill .skill {
    width: 430px;
    margin-bottom: 40px;
}

.wrapper-skill .skill-space:nth-child(odd) {
    margin-right: 100px;
}

.wrapper-skill .progress-bar .icon {
    width: 320px;
}